{% extends 'base.html.twig' %}

{% block title %}App Version{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900 min-h-screen">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-12">
            <article class="prose prose-slate dark:prose-invert">
                {{ changelog|markdown_to_html() }}
            </article>
        </div>
    </section>
{% endblock %}
