<div{{ attributes }}>
    <!--
      This example requires some changes to your config:

      ```
      // tailwind.config.js
      module.exports = {
        // ...
        plugins: [
          // ...
          require('@tailwindcss/forms'),
        ],
      }
      ```
    -->
    <div>
        {#<label for="price" class="block text-sm font-medium text-gray-700">Price</label>#}
        <div class="relative mt-1 rounded-md shadow-sm">
            {#<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <span class="text-gray-500 sm:text-sm">$</span>
            </div>#}
            <input type="text" name="phrase" id="phrase" class="block w-full p-4 rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-md" placeholder="I go bowling every Friday night with 8 friends" autocomplete="off"
                   data-model="norender|phrase">
            {#<div class="absolute inset-y-0 right-0 flex items-center">
                <label for="currency" class="sr-only">Currency</label>
                <select id="currency" name="currency" class="h-full rounded-md border-transparent bg-transparent py-0 pl-2 pr-7 text-gray-500 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <option>USD</option>
                    <option>CAD</option>
                    <option>EUR</option>
                </select>
            </div>#}
        </div>
        <div class="mt-8 flex gap-x-4 sm:justify-center">
            <p class="text-lg justify-center font-medium">{{ this.password }}</p>
        </div>
    </div>

    <div class="mt-8 flex gap-x-4 sm:justify-center">
        <button type="button" class="inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700"
                data-action="live#$render">
            Generate
            {#<span class="text-indigo-200" aria-hidden="true">&rarr;</span>#}
        </button>
        {#<a href="#" class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Live demo
            <span class="text-gray-400" aria-hidden="true">&rarr;</span>
        </a>#}
    </div>
</div>
